:root {
  --light-color-point: #eca23c;
  --light-color-highlight: #cc6431;
  --light-color-white: #fafafa;
  --light-color-lightgrey: #eeeeee;
  --light-color-grey: #cccccc;
  --light-color-darkgrey: #888888;
  --light-color-black: #333333;
}
