@import url(./root.css);
@font-face {
  font-family: h1;
  src: url('../fonts/koverwatch.woff');
}
@font-face {
  font-family: bd;
  src: url('../fonts/SpoqaHanSansNeo-Bold.woff');
  src: url('../fonts/MediumLL-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: nm;
  src: url('../fonts/SpoqaHanSansNeo-Regular.woff');
  src: url('../fonts/MediumLL-Book.otf');
  font-weight: 400;
}
body {
  font-family: 'nm', sans-serif;
  color: var(--light-color-black);
}
h1 {
  font-family: 'h1', sans-serif;
  font-style: oblique;
  font-size: 3rem;
  margin: 0 0 0.33rem 0;
}
h2 {
  font-family: 'nm', sans-serif;
  font-size: 1.5rem;
  margin: 0 1rem 0 0;
}
h3 {
  font-family: 'bd', sans-serif;
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}
p {
  margin: 0 0.5rem 0 0.5rem;
}
svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
