@import url(./root.css);
@font-face {
  font-family: h1;
  src: url('../fonts/koverwatch.ttf');
}
@font-face {
  font-family: bd;
  src: url('../fonts/MediumLL-Bold.otf');
  src: url('../fonts/SpoqaHanSansNeo-Bold.woff');
  font-weight: 700;
}
@font-face {
  font-family: nm;
  src: url('../fonts/MediumLL-Book.otf');
  src: url('../fonts/SpoqaHanSansNeo-Regular.woff');
  font-weight: 400;
}
body {
  font-family: 'nm', sans-serif;
  color: var(--light-color-black);
}
h1 {
  font-family: 'h1', sans-serif;
  font-style: oblique;
  font-size: 2.5rem;
  margin: 0 1.5rem 1rem 1rem;
}
h2 {
  font-family: 'nm', sans-serif;
  font-size: 1.5rem;
  margin: 0 1.5rem 1rem 1rem;
}
h3 {
  font-family: 'bd', sans-serif;
  font-size: 1.25rem;
  margin: 0 1.5rem 1rem 0;
}
