<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hammer.pulsar.dao.ArticleTagDao">

    <!--  태그 조회 쿼리 결과 매퍼  -->
    <resultMap id="TagMapper" type="Tag">
        <result column="ID" property="tagNo" />
        <result column="TAG_NAME" property="tagName" />
    </resultMap>

    <!--  게시글의 태그 목록을 조회하는 SQL  -->
    <!--  TODO: 서브쿼리로 변경하기  -->
    <select id="selectTagByArticleId" parameterType="int" resultMap="TagMapper">
        SELECT
            T.*
        FROM TB_ARTICLE_TAG AT
        INNER JOIN TB_TAG_INFO T
        ON
            T.ID = AT.TAG_ID
        WHERE
            AT.ARTICLE_ID = #{articleId}
    </select>

    <!--  게시글에 태그를 추가하는 SQL  -->
    <insert id="insertArticleTags" parameterType="ArticleTagUpdateRequest">
        INSERT INTO TB_ARTICLE_TAG
        VALUES
        <foreach item="articleTagsId" index="index" collection="list" separator="," nullable="true">
            (#{articleId}, #{item})
        </foreach>
    </insert>

    <!--  게시글에 태그를 삭제하는 SQL  -->
    <delete id="deleteArticleTags" parameterType="ArticleTagUpdateRequest">
        DELETE FROM TB_ARTICLE_TAG
        WHERE
            ARTICLE_ID = #{articleId}
            AND
            <foreach item="articleTagsId" index="index" collection="list"
                     open="TAG_ID in (" separator="," close=")" nullable="true">
                #{item}
            </foreach>
    </delete>

</mapper>