<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hammer.pulsar.dao.TagDao">

    <!--  모든 태그 정보를 불러오는 SQL  -->
    <select id="selectAllTags">
        SELECT
            *
        FROM TB_TAG_INFO
    </select>

</mapper>